.idea
*.iml
out
gen
.project
*.properties
*.db
*.DS_Store
bin/
*.skb

# NBAndroid stuff
nbandroid/
ant.properties
build.properties
build.xml
default.properties
gen/R.java.d
local.properties
proguard-project.txt
